<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybjx.blog.dao.ArticleCommentMapper">
  <resultMap id="BaseResultMap" type="com.ybjx.blog.entity.ArticleCommentDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="owner" jdbcType="INTEGER" property="owner" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="article_id" jdbcType="INTEGER" property="articleId" />
  </resultMap>
</mapper>