<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybjx.blog.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.ybjx.blog.entity.ArticleDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="abstract_content" jdbcType="VARCHAR" property="abstractContent" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="view_count" jdbcType="INTEGER" property="viewCount" />
    <result column="owner" jdbcType="INTEGER" property="owner" />
  </resultMap>

  <select id="getArticleList" resultMap="BaseResultMap">
    select * from article a where a.is_deleted = 0
    <if test="userId != null">
      and a.owner = #{userId}
    </if>
    <if test="tagId != null">
      and a.id in (select article_id from article_tag_ref atg where atg.is_deleted = 0 and atg.tag_id = #{tagId})
    </if>
    <if test="key != null and key !=''">
      and a.title like concat('%', #{key}, '%')
    </if>
  </select>

  <select id="getArticlesByIds" resultMap="BaseResultMap">
    select * from article where a.is_deleted = 0
    and id in
    <foreach collection="articleIds" index="index" item="articleId" open="(" separator="," close=")">
      #{articleId}
    </foreach>
  </select>
</mapper>