<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybjx.blog.dao.ArticleTagMapper">
  <resultMap id="BaseResultMap" type="com.ybjx.blog.entity.ArticleTagDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="owner" jdbcType="INTEGER" property="owner" />
  </resultMap>

  <select id="getTagByArticleIds" resultMap="BaseResultMap">
    select * from article_tag t where t.is_deleted = 0
    and t.id in (
      select tag_id from article_tag_ref tr where tr.is_deleted = 0
      and tr.article_id in
        <foreach collection="articleIds" index="index" item="articleId" open="(" separator="," close=")">
          #{articleId}
        </foreach>
    )
  </select>

  <select id="getTagList" resultMap="BaseResultMap">
    select * from article_tag t where t.is_deleted = 0
    <if test="userId != null">
      and t.owner = #{userId}
    </if>
    <if test="key != null and key != ''">
      and t.tag like concat('%', #{key}, '%')
    </if>
    <if test="ids != null">
      and t.id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
          #{id}
        </foreach>
    </if>
  </select>
</mapper>